{% extends 'chat/base.html' %} {% load static %} {% block header %}



<style>
    #user-list a.bg-dark {
        background-color: rgb(107, 107, 107) !important;
    }
    
    .list-group-item {
        cursor: pointer
    }
    
    .chat-bubble {
        min-width: 40%;
        max-width: 80%;
        padding: 5px 15px;
    }
    
    #user-list a:hover * {
        text-decoration: unset;
    }
    
    .chat-box {
        overflow: auto;
        max-width: 100%;
    }
</style>
{% endblock %}{% block content %}
<p>Ver Mas</p>
{% csrf_token %}

<li>
    <h1>{{ object.titulo }}</h1>
    <h2>{{ object.subtitulo }}</h2>
    <p>{{ object.campo | safe }}</p>
    <p>{{ object.date_created }}</p>
    {% if object.imagen %}
    <img src="{{ object.imagen.url }}" style="height: 100px; width: 100px;">
    {% endif %}
    <a href="{% url 'Borrar' object.id %}">ELIMINAR</a>
    <a href="{% url 'Editar' object.id %}">EDITAR</a>
</li>


    
{% endblock %} {% block footer %}
<script>
    $(function() {
        if ($('.chat-bubble:last').length > 0) {
            $('.chat-box').animate({
                scrollTop: $('.chat-bubble:last').offset().top
            }, 'fast')
        }
        $('#chat-submit').submit(function(e) {
            e.preventDefault()
            start_loader()
            $.ajax({
                headers: {
                    "X-CSRFToken": '{{csrf_token}}'
                },
                url: "{% url 'chat-send' %}",
                method: "POST",
                data: $(this).serialize(),
                dataType: "json",
                error: err => {
                    console.log(err)
                    alert('an error occured')
                },
                success: function(resp) {
                    if (typeof resp == "object" && resp.status == 'success') {
                        location.reload()
                    } else {
                        consol.log(resp)
                        alert('an error occured')
                    }
                }
            })



        })
        chats_renew()
        setInterval(() => {
            chats_renew()
        }, 2500)

    })

    function chats_renew() {
        var last_id = 0
        if ($('.chat-bubble').length > 0)
            last_id = $('.chat-bubble:last').attr('data-id')
        $.ajax({
            headers: {
                "X-CSRFToken": '{{csrf_token}}'
            },
            url: "{% url 'chat-renew' %}",
            method: "POST",
            data: {
                last_id: last_id,
                user_id: '{{user.id}}',
                chat_id: '{{chat_id}}'
            },
            dataType: 'json',
            error: err => {
                console.log(err)
                    // alert('an error occured')
            },
            success: function(resp) {
                if (Object.keys(resp).length > 0) {
                    Object.keys(resp).map(k => {
                        if (resp[k].id.user_from == '{{user.id}}') {
                            bubble = '<div class="p-2 w-100 d-flex justify-content-end">' +
                                '<div class=" chat-bubble  ml-2 mb-2 bg-primary text-light rounded" data-id="' + resp[k].id + '">' +
                                '<p>' + resp[k].message + '</p>' +
                                ' <div class="d-flex justify-content-between"><small>You</small> <small>' + resp[k].date_created + '</small></div>' +
                                ' </div>' +
                                ' </div>';
                        } else {
                            bubble = '<div class="p-2 w-100 d-flex justify-content-start">' +
                                '<div class="chat-bubble mr-2 mb-2 bg-light text-dark rounded"  data-id="' + resp[k].id + '">' +
                                ' <p>' + resp[k].message + '</p>' +
                                ' <div class=" d-flex justify-content-between"><small>Sender</small> <small>' + resp[k].date_created + '</small></div>' +
                                '</div>' +
                                '</div>';
                        }
                        // console.log(bubble)
                        $('.chat-box').append(bubble)
                        $('.chat-box').animate({
                            scrollTop: $('.chat-bubble:last').offset().top * 1000
                        }, 'fast')
                    })
                }
            }
        })
    }
</script>
{% endblock %}